@{
     ViewData["Title"] = "Form Example";
}
<br/>
<br/>
<form asp-controller="Form" asp-action="Example1" method="post" role="form"  class="form-align">
    <h2>Ejemplo de Clase de Desarrollo de Software II</h2>
    <br/>
    <input name="name" type="text" value=""/>
    <input name="name2" type="text" value=""/>
    <input type="submit"  class="btn btn-danger" value="Trigger on"/> 
</form>
